*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-color: #f0f0f0;
    margin: 20px;
    padding: 0;
}


img{
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    clear: both;
}

.header{
    position: fixed;
    position: -webkit-sticky;
    right: 7%;
    background-color: #bd205c34;
    border: solid 1px #ccc;
    padding: 10px;
    font-size: 15px;
}

.fixo{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ff0202;
    text-align: center;
    padding: 10px;
}

#sobre{
    font-weight: 100;
}

.in-line{
    grid: 0%;
    display: inline-block;
    width: 100%;
}

select + label{
    font-weight: bold;
}

.atividade{
    background-color: #ccc;
    display: grid;
    grid-column: 1/-1 ;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr;
}

h2 {
    font-style: italic;

}